@media (max-width: 800px) { 
    body { 
       max-height: 100%;  
       max-width: 100%;
       padding-bottom: 8%;
       /*grid-template: 1fr 1fr 60% / 3% 31% 1fr 31% 5% !important;*/
    }

    #score {
        font-size: 24px !important;
    }

    .heart {
        height: 9px !important;
        width: 9px !important;
        margin: 0 10px !important;
    }

    .heart:before,
    .heart:after {
        width: 9px !important;
        height: 9px !important;
    }

    .heart:before {
        top: -5px !important;
    }

    .heart:after {
        left: 5px !important;
    }

    .basket img {
        max-width: 80px !important;
        max-height: 70px !important;
    }

    .egg {
        margin-top: 18% !important;
    }

    #egg-1-2, #egg-1-3, #egg-1-4, #egg-3-1{
        margin-top: 23% !important;
    }

    #egg-1-1 {
        margin-top: 27% !important;
    }
}

@media (max-width: 1300px) {
    .egg {
        margin-top: 14% !important;
    }

    #egg-1-2, #egg-1-3, #egg-1-4, #egg-3-1{
        margin-top: 18% !important;
    }

    #egg-1-1 {
        margin-top: 22% !important;
    }
}

 * { box-sizing: border-box; }

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    display: grid;
    grid-template: 38% 1fr 1fr 8% / 3% 27% 1fr 27% 5%;
    box-sizing: border-box;
}

#score {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 48px;
    font-weight: 900;
    color: #0099ff;
    position: relative;
    top: 8%;
    left: 33%;
}

#speed {
    grid-area: 1 / 3 / 2 / 4;
    font-size: 24px;
}

#character {
    grid-area: 2 / 3 / 4 / 4;
    position: relative;
    left: 20%;
    bottom: 10%;
    max-width: 100%;
    max-height: 100%;
}

#character img {
    max-width: 120%;
    max-height: 120%;
}

.basket {
    position: relative;
    top: 60%;
    visibility: hidden;
}

.hearts {
    grid-area:  2 / 2 / 3 / 3;
    position: relative;
    bottom: 40%;
    left: 30%;
}

.heart {
    background-color: red;
    display: inline-block;
    height: 20px;
    margin: 0 15px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 20px;
  }

  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
  }
  
  .heart:before {
    top: -13px;
    left: 0;
  }
  
  .heart:after {
    left: 13px;
    top: 0;
  }

.basket img {
    width: 160px;
    height: 140px;
}

.egg {
    width: 10%;
    height: 19%;
    border-radius: 80% 30% 55% 50% / 55% 30% 80% 50%;
    border: 3px solid #1c446b;
    background: #ffc000;
    position: relative;
    visibility: hidden;
}

/* ============== EGGS UP LEFT ==============================*/

#up-left {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
}

#up-left .basket {
    left: 10%;
    top: 70%;
    transform: rotate(-20deg);
}

#egg-1-1 {      
    transform: rotate(-45deg);
    margin-top: 12%;
    left: 10%;
    bottom: 10%; 
}
  
#egg-1-2 {
    transform: rotate(0deg);
    margin-top: 11%;
    left: 15%;
    bottom: -10%;
}

#egg-1-3 {
    transform: rotate(45deg);
    margin-top: 10%;
    left: 22%;
    bottom: -32%;
}

#egg-1-4 {
    transform: rotate(90deg);
    margin-top: 10%;
    left: 30%;
    bottom: -55%;
}

/* ==================== EGGS DOWN LEFT ======================= */

#down-left {
    grid-area: 3 / 2 / 3 / 3;
    display: flex;
}

#down-left .basket {
    left: 10%;
    top: 50%;
    transform: rotate(-20deg);
}

#egg-2-1 {
    transform: rotate(-45deg);
    margin-top: 30px;
    left: 10%;
    bottom: 9%;
}
  
#egg-2-2 {
    transform: rotate(0deg);
    margin-top: 7%;
    left: 15%;
    bottom: -4%;
}

#egg-2-3 {
    transform: rotate(45deg);
    margin-top: 7%;
    left: 20%;
    bottom: -20%;
}


#egg-2-4 {
    transform: rotate(90deg);
    margin-top: 9%;
    left: 25%;
    bottom: -40%;
}

#broken-egg-left {
    grid-area: 4 / 2 / 4 / 3;
    position: relative;
    left: 60%;
    bottom: 20%;
    visibility: hidden;
}


/* =======================EGGS UP RIGHT=========================== */

#up-right {
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-direction: row-reverse;
}

#up-right .basket {
    right: 15%;
    top: 70%;
    transform: rotate(20deg);
}

#egg-3-1 {
    transform: rotate(-45deg);
    margin-top: 10%;
    right: 10%;
    bottom: 10%;
}
  
#egg-3-2 {
    transform: rotate(-90deg);
    position: relative;
    right: 15%;
    bottom: -10%;
}

#egg-3-3 {
    transform: rotate(-135deg);
    margin-top: 9%;
    right: 22%;
    bottom: -32%;
}

#egg-3-4 {
    transform: rotate(-180deg);
    margin-top: 10%;
    right: 30%;
    bottom: -55%;
}

/* =======================EGGS DOWN RIGHT========================= */

#down-right {
    grid-area: 3 / 4 / 3 / 5;
    display: flex;
    flex-direction: row-reverse;
}

#down-right .basket {
    right: 15%;
    transform: rotate(20deg);
    top: 50%;
}

#egg-4-1 {
    transform: rotate(-45deg);
    margin-top: 7%;
    right: 10%;
    bottom: 10%;
}
  
#egg-4-2 {
    transform: rotate(-90deg);
    margin-top: 7%;
    right: 15%;
    bottom: -3%;
}

#egg-4-3 {
    transform: rotate(-135deg);
    margin-top: 8%;
    right: 22%;
    bottom: -20%;
}

#egg-4-4 {
    transform: rotate(-180deg);
    margin-top: 9%;
    right: 30%;
    bottom: -40%;
}

#broken-egg-right {
    grid-area: 4 / 4 / 4 / 5;
    position: relative;
    left: 17%;
    bottom: 20%;
    visibility: hidden;
}
